.products-table table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-family: Arial, sans-serif;
}

.products-table thead th {
  padding: 10px;
  border-bottom: 1px solid black;
}

.products-table thead th:not(:last-child) {
  border-right: none;
}

.products-table tbody td {
  padding: 10px;
  border-bottom: 1px solid black;
}

.products-table tbody tr {
  background-color: white;
}

.products-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.products-table tbody td:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.products-table tbody td:last-child {
  border-right: none;
}

.products-table .form-and-choice,
.products-table .weight {
  cursor: pointer;
}
