:root {
  --md-sys-color-primary: #1976d2; /* Primary color */
  --md-sys-color-secondary: #ff4081; /* Secondary color */
  --md-sys-typescale-body1-font-family: 'Roboto', sans-serif; /* Font family */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
